node_modules/
coverage/
dist/
build/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.docz/
package-lock.json
coverage/
.idea
yarn-error.log
.size-snapshot.json
pnpm-debug.log
.parcel-cache
pnpm-lock.yaml
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
